@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:100i&display=swap');

body {
  font-family: sans-serif;
  margin: 0;
  background-image: url("images/US_flag_background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 2rem 1rem;
  max-width: 70rem;
  box-shadow: 0 0 10px #111;
}

main,
footer {
  margin: auto;
  background-color: ghostwhite;
}

.main {
  padding: 1rem;
}

@media (min-width: 40rem) {
  .container {
    margin: 2rem auto;
  }

  .main {
    padding: 2rem;
  }
}

.main--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
  position: relative;
}

.main--title h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--title--tribute-link {
  color: blue;
  text-decoration: none;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1em;
}

.main--biography {
  display: grid;
}

.main--biography h2,
.main--timeline h2,
footer h2 {
  font-family: "Roboto", sans-serif;
}

.main--biography--picture {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.main--biography--picture img {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  max-width: 100%;
  margin: auto;
}

.main--biography--picture figcaption {
  text-align: center;
}

.main--biography--story {
  font-size: 1.5rem;
}

.main--biography--poem {
  display: block;
  max-width: 19em;
  margin: auto;
}

@media (min-width: 40rem) {
  .main--biography {
    grid-gap: 1em;
  }

  .main--biography h2 {
    margin-bottom: 0;
  }

  .main--biography--picture {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 0;
    margin-right: 0;
  }

  .main--biography--story p:first-of-type {
    margin-top: 0;
  }

  .main--biography h2,
  .main--biography--story {
    grid-column: 2/4;
  }

  .main--biography--poem {
    grid-column: 1/4;
    font-size: 1.5rem;
  }
}

.main--biography--poem blockquote {
  margin: auto;
  font-style: italic;
}

.main--timeline dl {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
}

.main--timeline dt {
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.main--timeline dd {
  margin: 0 0 0 1em;
}

@media (min-width: 40rem) {
  .main--timeline dl {
    grid-template-columns: 10rem auto;
  }

  .main--timeline dt {
    margin: 0;
    text-align: right;
  }
}

.main--related {
  margin: 1rem;
}

.main--related h2 {
  text-align: center;
}

.main--related ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  padding: 0;
}

.main--related li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px outset blue;
  background-color: skyblue;
  height: 4em;
}

@media (min-width: 40rem) {
  .main--related ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .main--related li {
    height: 3.5em;
  }
}

.main--related li a {
  text-decoration: none;
  color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.25em;
  box-sizing: border-box;
}

footer .byline {
  color: white;
  text-align: center;
  padding: 1rem;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000+0,45484d+100 */
  background: #000; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #000 0%, #45484d 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #000 0%, #45484d 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #000 0%, #45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

footer .byline a,
footer .byline a:visited {
  color: white;
}
